
body {

    background-color: #f7f9fb;
    font-family: 'Roboto', sans-serif;;
}

.heading {

    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgb(200, 196, 196) solid;

}


 .heading .searchBar {

    width: 1100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}

.heading .searchBar input {

    border: none;
    padding: 10px;
}

.heading .searchBar span {


    background-color: aliceblue;
    height: 50px;
    display: flex;
    align-items: center;

}

.heading .searchBar .inputBar {

    margin-right: 740px;
}

.heading .searchBar svg {

    fill: grey;
}

.heading div p {

    width: 200px;
    font-size: 20px;

}

.section1 {

    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    
}

.section1 .menu {

    width: 230px;
    height: 900px;
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.childSection {

    width: 1100px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-around;
}

.childSection div {

    background-color: antiquewhite;
    height: 290px;
    display: flex;
    align-items: center;

}

.menu .profile {

    height: 50px;
    width: 228px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10px;
    padding: px;
    border-bottom: 1px solid rgb(212, 208, 208);

}

.menu .profile svg {

    fill: gray;
    background-color: #b5b5b0;
}

.menu span img {

    width: 50px;
    background-color: #f7f9fb;
    border-radius: 50%;
}

.menu .chartBar {

    height: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

.menu span {

    display: flex;
    background-color: #f7f9fb;
    align-items:center;  
}

.menu p {

    /* background-color: aqua; */
    margin: 10px;
    
}

.blue {

    color: blue;
}

.menu .chartBar svg {

    width: 23px;
}

.menu .iconsBar {

    height: 90px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    border-top: 2px dashed #b3afaf ;

}



.menu .iconsBar svg {

    width: 23px;
}

.childSection .dataChart {

    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.childSection .dataChart div {

    height: 170px;
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    border: #b5b5b0 1px solid;
    justify-content: space-around;
    padding: 5px;
}


.childSection .dataChart div  span {

    display: flex;
    align-items: center;
    width: 220px;
    justify-content: space-between;
}

.childSection .dataChart div  span a {

    color: #61b659;
    text-decoration: none;
    background-color: #caecc6;
    padding: 3px;
    border-radius: 20px;
}

.childSection .dataChart div  span h5 {

    font-size: 20px;
}

.childSection .barChart  {

    background-color: #ffffff;
    width: 1090px;
    margin-left: 5px;
    border-radius: 10px;
    border: 1px solid #e1d9d9;
    display: flex;
}

.childSection .barChart  {

    display: flex;
    flex-direction: column;
    align-items: start;
    
}

.childSection .barChart header {

    display: flex;
    flex-direction: row;
    width: 1090px;
    justify-content: space-between;

}

.childSection .barChart  header span {

    display: flex;
    width: 440px;
    justify-content: space-evenly;
    align-items: center;
}

.childSection .barChart  header span  p {

    width: 100px;

}

.childSection .barChart  header  input {

    width: 15px;
    margin-left: 40px;


}

.childSection .barChart  header span b {

    margin-right: 290px;


}

.childSection .chartData {

    display: flex;
    flex-direction: column;


}

.childSection .chartData span {
    height: 46px;
    width: 1090px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.childSection .chartData span span  {

    width: 960px;
    height: 10px;
    border-bottom:1px #b5b5b0 dashed; 

    
}

.childSection .lastSection {

    background-color: #61b659;
    display: flex;
    justify-content: space-around;

}